/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

README.md
*.md
resources/views/blog/index.blade.php
resources/views/blog/index.blade.php