html body .prime-color{
    background-color: #f59331;
}

html body .second-color{
    background-color: #2a4264;
}

html body .third-color{
    background-color: #1eb1ee;
}

/* ============= Header =============*/
html body .navbar-default .navbar-brand,
html body .navbar-default .navbar-nav>li>a{
    color: #fff;
}

html body .navbar-default .navbar-nav>li>a:hover{
    background-color: #e7e7e7;
    color: #555;
}

body{
    font-size: 20px;
}
.navbar-fixed-top{
    border: none;
}

/* ============= bodyblocks =============*/

.jumbotron{
    background-image: url("../img/Jumbotron_Image_2.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    height: 400px;
}
.jumbotron h1{
    color: #fff;
    position: relative;
    top: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}
.jumbotron p{
    color: #fff;
    position: relative;
    top: 50px;
    font-size: 25px;
}

.bodyblock-offset{
    position: relative;
    margin-bottom: -11.5vh;
}

button{
    color: white;
    padding: 10px;
    background-color: #f59331;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: #e7e7e7;
    color: #555;
}

.bodyblock{
    flex: 1;
}

.bodyblock p{
    margin: 20px;
}

.row.flex{
    display: flex;
}

.bodyblock-padding{
    height: 100%;
    background-color: #343434;
    color: white;
    margin: 0 20px;
    padding: 20px;
}

.img-container{
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.bodyblock-padding img{
    width: 100%;
    height: auto;
}

/* ============= Hulp bij mantelzorg =============*/
.backgroudcolor-offset{
    background-color: #888;
    margin: 20px 0;
    padding: 20px 0;
    color: #fff;
}

/*============== Blogposts ==========*/
.col-md-8 article{
    border: 1px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
}

.blog-author-forhumans{
    display: inline-block;
    padding: 0px 0px 10px 20px;
    color: #888;
}

.blog-excerpt{
    padding: 0px 20px 0px 20px;
    color: #333;
}

article p {
    padding: 0px 20px 0px 20px; 
}

.article-heading{
    padding: 60px 20px 20px;
    border-bottom: 1px solid #e7e7e7;
    background-image: url("../img/Jumbotron_image_1.jpg");
    background-size: cover;
}

.article-heading h2,
.article-body-heading h2{
    margin: 0;
    color: white;
    text-shadow: 2px 2px #555;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
}

.readmore{
    margin: 10px 20px 10px 20px;
    color: white;
    padding: 10px;
    display: inline-block;
    background-color: #f59331;
    border-radius: 5px;
    border: none;
}

.readmore:hover{
    background-color: #e7e7e7;
    color: #555;
}

/*============== Blogpost single ==============*/
.article-body-heading{
    padding: 200px 20px 20px;
    border-bottom: 1px solid #e7e7e7;
    background-image: url("../img/Jumbotron_image_1.jpg");
    background-size: cover;
}

.blog-author-forhumans-wrapper{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.02);
}

/* ============= Tips =============*/
.tips{
    text-align: left;
}

.tips li{
    padding-bottom: 10px;
}

/* ============= Pagination ============= */
.pagination {
    position: relative;
    left: 310px;
}
.pagination > li > a,
.pagination > li > span {
    color: #555;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #2a4264;
    border-color: #2a4264;
}

/* ============= Mantelcheck ============== */

.progressbar{
    background-color: #f59331;
    margin-top: -20px;
    min-height: 70px;
}

.bar{
    position: absolute;
    height: 30px;
    top: 70px;
    left: 12.5%;
    width: 75%;
    border-radius: 15px;
    background: linear-gradient(90deg, #15c702 25%, #fff 25%);
}

.bar p{
    text-align: center;
    color: #333;
}

.triangle-down{
    position: relative;
    top: 70px;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 40px solid #f59331;
}

.mantelcheck-yes{
    float: left;
    width: 50%;
    height: 85vh;
    background-image: url("../img/mantelcheck_yes_image.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
}

.mantelcheck-yes:hover{
    background-image: url("../img/mantelcheck_yes_image_hover.jpg");
}

.mantelcheck-no{
    float: right;
    width: 50%;
    height: 85vh;
    background-image: url("../img/mantelcheck_no_image.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
}

.mantelcheck-no:hover{
    background-image: url("../img/mantelcheck_no_image_hover.jpg");
}

.mantelcheck-yes-opacity{
    position: relative;
    top: -100px;
    background-color: black;
    opacity: 0.9;
    height: 85vh;
}

.mantelcheck-no-text,
.mantelcheck-yes-text{
    padding-top: 225px;
    font-size: 1.2em;
}

.mantelcheck-no-text h1{
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.mantelcheck-yes-text h1{
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.row-fix{
  margin-right: 0px;
  margin-left: 0px;
}

/* ============= Breadcrumb =============*/
.breadcrumb{
    border: 1px solid #e7e7e7;
    background: #fff;
    border-radius: 0px;
    color: #333;
}

.breadcrumb a{
    color: #333;
}

/* ============= Footer =============*/
footer{
    color: #fff;
}