html body .prime-color{
    background-color: #f59331;
}

html body .second-color{
    background-color: #2a4264;
}

html body .third-color{
    background-color: #1eb1ee;
}

/* ============= Header =============*/
html body .navbar-default .navbar-brand,
html body .navbar-default .navbar-nav>li>a{
    color: #fff;
}

html body .navbar-default .navbar-nav>li>a:hover{
    background-color: #e7e7e7;
    color: #555;
}

.navbar-fixed-top{
    border: none;
}

/* ============= bodyblocks =============*/

.jumbotron{
    background-image: url("../img/Jumbotron_Image_2.png");
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    height: 400px;
}

.jumbotron h1, 
.jumbotron p{
    color: white;
    text-shadow: -2px 2px #555;
    position: relative;
    top: 50px;
}

.bodyblock-offset{
    position: relative;
    margin-bottom: -5vh;
}

button{
    color: white;
    padding: 10px;
    background-color: #f59331;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: #e7e7e7;
    color: #555;
}

.bodyblock p{
    margin: 20px;
}

.bodyblock-padding{
    background-color: #343434;
    color: white;
    margin: 0 20px;
    padding: 20px;
}

/* ============= Hulp bij mantelzorg =============*/
.backgroudcolor-offset{
    background-color: #888;
    margin: 20px 0;
    padding: 20px 0;
    color: #fff;
}

/*============== Blogposts ==========*/
.col-md-8 article{
    border: 1px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
}

.blog-author-forhumans{
    display: inline-block;
    padding: 0px 0px 10px 20px;
    color: #888;
}

.blog-excerpt{
    padding: 0px 20px 0px 20px;
    color: #333;
}

.article-heading{
    padding: 60px 20px 20px;
    border-bottom: 1px solid #e7e7e7;
    background-image: url("../img/Jumbotron_image_1.jpg");
    background-size: cover;
}

.article-heading h2,
.article-body-heading h2{
    margin: 0;
    color: white;
    text-shadow: 2px 2px #555;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
}

.readmore{
    margin: 10px 20px 10px 20px;
    color: white;
    padding: 10px;
    display: inline-block;
    background-color: #f59331;
    border-radius: 5px;
    border: none;
}

.readmore:hover{
    background-color: #e7e7e7;
    color: #555;
}

/*============== Blogpost single ==============*/
.article-body-heading{
    padding: 200px 20px 20px;
    border-bottom: 1px solid #e7e7e7;
    background-image: url("../img/Jumbotron_image_1.jpg");
    background-size: cover;
}

.blog-author-forhumans-wrapper{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.02);
}

/* ============= Tips =============*/
.tips{
    text-align: left;
}

/* ============= Pagination ============= */
.pagination {
    position: relative;
    left: 310px;
}
.pagination > li > a,
.pagination > li > span {
    color: #555;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #2a4264;
    border-color: #2a4264;
}

/* ============= Mantelcheck ============== */
.mantelcheck-bodyblock{
    height: 75vh;
    color: #888;
    text-align: center;
    margin: 10px 0px 40px;
    padding-top: 200px;
    border: 3px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    background-color: rgba(0,0,0,0.02);
}

.mantelcheck-title{
    border: 3px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    background-color: rgba(0,0,0,0.02);
}
.mantelcheck-title h4{
    margin: 15px;
    color: #888;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.mantelcheck-bodyblock:hover{
    text-shadow: -2px 2px #333;
}

.mantelcheck-yes:hover{
    background-color: rgba(0,100,0,0.8);
    color: #fff;
}

.mantelcheck-no:hover{
    background-color: rgba(250,0,0,0.8);
    color: #fff;
}

.flag{
    float: right;
    text-align: center;
    background-color: #f59331;
    color: #fff;
    padding: 50px 0px 50px;
    border: 3px solid #e7e7e7;
    /*border: 1px solid transparent;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}
/* ============= Footer =============*/
footer{
    color: #fff;
}